Django==5.0.*
ber-tlv
python-ldap
crispy-forms-gds
Pillow
python-ldap
pycryptodome
dacite
cryptography
pytz
asn1tools
niquests
django-storages
boto3
django-cockroachdb==5.0.*
django-xff
psycopg2-binary
gunicorn
iso3166
pyjwt
django-magiclink
BeautifulSoup4
zxing-cpp
PyMuPDF