Django==5.0.*
zxing==1.0
ber-tlv
python-ldap
crispy-forms-gds
Pillow
python-ldap
pycryptodome
dacite
cryptography
pytz
asn1tools
requests
django-storages
boto3
django-cockroachdb==5.0.*
django-xff
psycopg2-binary
gunicorn