{% load i18n rics %}
<h2 class="govuk-heading-m">{% trans "Non-reservation ticket" %}</h2>
<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">PNR</dt>
        <dd class="govuk-summary-list__value">{{ ticket.data.pnr }}</dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">{% trans "Issuing date" %}</dt>
        <dd class="govuk-summary-list__value">{{ ticket.data.issuing_date|date:"F d, Y" }}</dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">{% trans "Specimen" %}</dt>
        <dd class="govuk-summary-list__value">
            {% if ticket.data.specimen %}
                <strong class="govuk-tag govuk-tag--green">{% trans "Yes" %}</strong>
            {% else %}
                <strong class="govuk-tag govuk-tag--red">{% trans "No" %}</strong>
            {% endif %}
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">{% trans "Return included" %}</dt>
        <dd class="govuk-summary-list__value">
            {% if ticket.data.return_included %}
                <strong class="govuk-tag govuk-tag--green">{% trans "Yes" %}</strong>
            {% else %}
                <strong class="govuk-tag govuk-tag--red">{% trans "No" %}</strong>
            {% endif %}
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">{% trans "Number of adults" %}</dt>
        <dd class="govuk-summary-list__value">{{ ticket.data.num_adults }}</dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">{% trans "Number of children" %}</dt>
        <dd class="govuk-summary-list__value">{{ ticket.data.num_children }}</dd>
    </div>
    {% if ticket.data.travel_class %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">{% trans "Travel class" %}</dt>
            <dd class="govuk-summary-list__value">
                {% if ticket.data.travel_class == 1 %}
                    {% trans "First" %}
                {% elif ticket.data.travel_class == 2 %}
                    {% trans "Second" %}
                {% elif ticket.data.travel_class == 1 and ticket.envelope.issuer_rics == 1187 %}
                    {% trans "First" %}
                {% elif ticket.data.travel_class == 5 and ticket.envelope.issuer_rics == 1187 %}
                    {% trans "Second" %}
                {% else %}
                    <code>{{ ticket.data.travel_class }}</code>
                {% endif %}
            </dd>
        </div>
    {% endif %}
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">{% trans "Valid from" %}</dt>
        <dd class="govuk-summary-list__value">{{ ticket.data.validity_start|date:"F d, Y" }}</dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">{% trans "Valid until" %}</dt>
        <dd class="govuk-summary-list__value">{{ ticket.data.validity_end|date:"F d, Y" }}</dd>
    </div>
    {% if ticket.data.station_code_table is not None %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">{% trans "Station code table" %}</dt>
            <dd class="govuk-summary-list__value"><code>{{ ticket.data.station_code_table }}</code></dd>
        </div>
    {% endif %}
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">{% trans "From station" %}</dt>
        <dd class="govuk-summary-list__value">
            {% include "main/ssb/station.html" with station=ticket.data.departure_station %}
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">{% trans "To station" %}</dt>
        <dd class="govuk-summary-list__value">
            {% include "main/ssb/station.html" with station=ticket.data.arrival_station %}
        </dd>
    </div>
    {% if ticket.data.information_message %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">{% trans "Information message" %}</dt>
            <dd class="govuk-summary-list__value"><code>{{ ticket.data.information_message }}</code></dd>
        </div>
    {% endif %}
    {% if ticket.data.extra_text %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">{% trans "Extra text" %}</dt>
            <dd class="govuk-summary-list__value">{{ ticket.data.extra_text }}</dd>
        </div>
    {% endif %}
    {% if ticket.data.sncb_data %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">{% trans "SNCB Data" %}</dt>
            <dd class="govuk-summary-list__value">
                <p class="govuk-body">
                    {% url 'account_edit' as account_edit_url %}
                    {% blocktrans trimmed %}
                        Partially redacted name?
                        <a href="{{ account_edit_url }}" class="govuk-link">Add your name to your account</a>
                        to have your full name on your ticket.
                    {% endblocktrans %}
                </p>
                <dl class="govuk-summary-list">
                    {% if ticket.data.sncb_data.product_name %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">{% trans "Product" %}</dt>
                            <dd class="govuk-summary-list__value">
                                {{ ticket.data.sncb_data.product_name }}
                                (<code>{{ ticket.data.sncb_data.product_code }}</code>)
                            </dd>
                        </div>
                    {% else %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">{% trans "Product code" %}</dt>
                            <dd class="govuk-summary-list__value">
                                <code>{{ ticket.data.sncb_data.product_code }}</code>
                            </dd>
                        </div>
                    {% endif %}
                    {% if ticket.data.sncb_data.forename %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">{% trans "Forename" %}</dt>
                            <dd class="govuk-summary-list__value">
                                {{ ticket.data.sncb_data.forename }}
                                {% if ticket.data.sncb_data.original_forename %}
                                    ({{ ticket.data.sncb_data.original_forename }})
                                {% endif %}
                            </dd>
                        </div>
                    {% endif %}
                    {% if ticket.data.sncb_data.surname %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">{% trans "Surname" %}</dt>
                            <dd class="govuk-summary-list__value">
                                {{ ticket.data.sncb_data.surname }}
                                {% if ticket.data.sncb_data.original_surname %}
                                    ({{ ticket.data.sncb_data.original_surname }})
                                {% endif %}
                            </dd>
                        </div>
                    {% endif %}
                </dl>
            </dd>
        </div>
    {% endif %}
    {% if ticket.data.cd_data %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">{% trans "ČD Data" %}</dt>
            <dd class="govuk-summary-list__value">
                <dl class="govuk-summary-list">
                    {% if ticket.data.cd_data.price %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">{% trans "Price" %}</dt>
                            <dd class="govuk-summary-list__value">
                                {{ ticket.data.cd_data.price_str }}
                            </dd>
                        </div>
                    {% endif %}
                    {% if ticket.data.cd_data.distance %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">{% trans "Distance" %}</dt>
                            <dd class="govuk-summary-list__value">
                                {{ ticket.data.cd_data.distance }} km
                            </dd>
                        </div>
                    {% endif %}
                    {% if ticket.data.cd_data.other_blocks %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Unknown blocks</dt>
                            <dd class="govuk-summary-list__value">
                                {% for block_id, value in ticket.data.cd_data.other_blocks.items %}
                                    <div class="govuk-summary-card">
                                        <div class="govuk-summary-card__title-wrapper">
                                            <h2 class="govuk-summary-card__title">Block <code>{{ block_id }}</code>
                                            </h2>
                                        </div>
                                        <div class="govuk-summary-card__content">
                                            <code>{{ value }}</code>
                                        </div>
                                    </div>
                                {% endfor %}
                            </dd>
                        </div>
                    {% endif %}
                </dl>
            </dd>
        </div>
    {% endif %}
    {% if ticket.data.sncf_data %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">{% trans "SNCF Data" %}</dt>
            <dd class="govuk-summary-list__value">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">{% trans "Network" %}</dt>
                        <dd class="govuk-summary-list__value">
                            {% with network=ticket.data.sncf_data.network_id|dbr_network_id %}
                                <dl class="govuk-summary-list">
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">Country</dt>
                                        <dd class="govuk-summary-list__value">
                                            {{ network.country }}
                                        </dd>
                                    </div>
                                    {% if network.network_name %}
                                        <div class="govuk-summary-list__row">
                                            <dt class="govuk-summary-list__key">Name</dt>
                                            <dd class="govuk-summary-list__value">
                                                {{ network.network_name }}
                                            </dd>
                                        </div>
                                    {% else %}
                                        <div class="govuk-summary-list__row">
                                            <dt class="govuk-summary-list__key">ID</dt>
                                            <dd class="govuk-summary-list__value">
                                                <code>{{ network.network_id }}</code>
                                            </dd>
                                        </div>
                                    {% endif %}
                                </dl>
                            {% endwith %}
                        </dd>
                    </div>
                    {% with contract_provider=ticket.data.sncf_data.contract_provider_str %}
                        {% if contract_provider %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">{% trans "Contract provider" %}</dt>
                                <dd class="govuk-summary-list__value">{{ contract_provider }}</dd>
                            </div>
                        {% else %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">{% trans "Contract provider ID" %}</dt>
                                <dd class="govuk-summary-list__value">
                                    <code>{{ ticket.data.sncf_data.contract_provider }}</code></dd>
                            </div>
                        {% endif %}
                    {% endwith %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">{% trans "Tariff" %}</dt>
                        <dd class="govuk-summary-list__value">
                            <code>{{ ticket.data.sncf_data.tariff_code }}</code>
                        </dd>
                    </div>
                    {% if ticket.data.sncf_data.via %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">{% trans "Via" %}</dt>
                            <dd class="govuk-summary-list__value">
                                {% with s=ticket.data.sncf_data.via|get_station:"uic_sncf" %}
                                    {% if s %}
                                        {% include "main/uic/station.html" with station=s %}
                                    {% else %}
                                        UIC (SNCF): <code>{{ station.id }}</code>
                                    {% endif %}
                                {% endwith %}
                            </dd>
                        </div>
                    {% endif %}
                    {% if ticket.data.sncf_data.validity_zones %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">{% trans "Validity zones" %}</dt>
                            <dd class="govuk-summary-list__value">
                                <ul>
                                    {% for zone in ticket.data.sncf_data.validity_zones %}
                                        <li>{{ zone }}</li>
                                    {% endfor %}
                                </ul>
                            </dd>
                        </div>
                    {% endif %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">{% trans "Price" %}</dt>
                        <dd class="govuk-summary-list__value">
                            {{ ticket.data.sncf_data.price_str }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">{% trans "Payment method" %}</dt>
                        <dd class="govuk-summary-list__value">
                            <code>{{ ticket.data.sncf_data.payment_method }}</code>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">{% trans "Retail channel" %}</dt>
                        <dd class="govuk-summary-list__value">
                            {{ ticket.data.sncf_data.retail_channel_str }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">{% trans "Travel distance" %}</dt>
                        <dd class="govuk-summary-list__value">
                            {{ ticket.data.sncf_data.distance_km }} km
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">{% trans "Terminal ID" %}</dt>
                        <dd class="govuk-summary-list__value">
                            <code>{{ ticket.data.sncf_data.terminal_id }}</code>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">{% trans "Route constraint" %}</dt>
                        <dd class="govuk-summary-list__value">
                            {% if ticket.data.sncf_data.route_constraint %}
                                <strong class="govuk-tag govuk-tag--green">{% trans "Yes" %}</strong>
                            {% else %}
                                <strong class="govuk-tag govuk-tag--red">{% trans "No" %}</strong>
                            {% endif %}
                        </dd>
                    </div>
                </dl>
            </dd>
        </div>
    {% endif %}
</dl>
