{% load i18n rics %}
<h2 class="govuk-heading-m">{% trans "Slovenske železnice ticket" %}</h2>
<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">{% trans "Format type" %}</dt>
        <dd class="govuk-summary-list__value"><code>{{ ticket.data.format_type }}</code></dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">{% trans "Tariff location ID" %}</dt>
        <dd class="govuk-summary-list__value"><code>{{ ticket.data.tariff_location_id }}</code></dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">{% trans "Product" %}</dt>
        <dd class="govuk-summary-list__value">{{ ticket.data.product_str }}</dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">{% trans "Price level" %}</dt>
        <dd class="govuk-summary-list__value">{{ ticket.data.status_str }}</dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">{% trans "Travel class" %}</dt>
        <dd class="govuk-summary-list__value"><code>{{ ticket.data.travel_class }}</code></dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">{% trans "Unique ID" %}</dt>
        <dd class="govuk-summary-list__value"><code>{{ ticket.data.unique_ticket_id }}</code></dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">{% trans "Bill number" %}</dt>
        <dd class="govuk-summary-list__value">{{ ticket.data.bill_number }}</dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">{% trans "Unit price" %}</dt>
        <dd class="govuk-summary-list__value">{{ ticket.data.price_str }}</dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">{% trans "Total price" %}</dt>
        <dd class="govuk-summary-list__value">{{ ticket.data.total_price_str }}</dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">{% trans "Number of travellers" %}</dt>
        <dd class="govuk-summary-list__value">{{ ticket.data.num_travellers }}</dd>
    </div>
    {% if ticket.data.discount_id %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">{% trans "Discount ID" %}</dt>
            <dd class="govuk-summary-list__value">{{ ticket.data.discount_id }}</dd>
        </div>
    {% endif %}
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">{% trans "Valid from" %}</dt>
        <dd class="govuk-summary-list__value">{{ ticket.data.valid_from|date:"F d, Y H:i:s e" }}</dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">{% trans "Valid until" %}</dt>
        <dd class="govuk-summary-list__value">{{ ticket.data.valid_to|date:"F d, Y H:i:s e" }}</dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">{% trans "Service provider" %}</dt>
        <dd class="govuk-summary-list__value">{{ ticket.data.service_provider }}</dd>
    </div>
    {% if ticket.data.stations %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">{% trans "Stations" %}</dt>
            <dd class="govuk-summary-list__value">
                {% for station in ticket.data.stations %}
                    {% if station.station_type == 1 %}
                        {% with graph=station.station_id|sz_as_graphviz %}
                            <div id="{{ graph.0 }}" class="route-graph"></div>
                            <script>
                                window.addEventListener('load', function () {
                                    const graph = `{{ graph.1|safe }}`;
                                    Viz.instance().then(function (viz) {
                                        const svg = viz.renderSVGElement(graph, {
                                            graphAttributes: {
                                                fontname: "GDS Transport",
                                                fontsize: 12,
                                            },
                                            nodeAttributes: {
                                                fontname: "GDS Transport",
                                                fontsize: 12,
                                            }
                                        });
                                        document.getElementById('{{ graph.0 }}').appendChild(svg);
                                    });
                                });
                            </script>
                        {% endwith %}
                    {% else %}
                        <div class="govuk-summary-card">
                            <div class="govuk-summary-card__content">
                                <dl class="govuk-summary-list">
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">{% trans "Station type" %}</dt>
                                        <dd class="govuk-summary-list__value">
                                            {{ station.station_type }}
                                        </dd>
                                    </div>
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">{% trans "ID" %}</dt>
                                        <dd class="govuk-summary-list__value">
                                            {{ station.station_id }}
                                        </dd>
                                    </div>
                                </dl>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </dd>
        </div>
    {% endif %}
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">{% trans "Distance" %}</dt>
        <dd class="govuk-summary-list__value">{{ ticket.data.distance }} km</dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">{% trans "One way" %}</dt>
        <dd class="govuk-summary-list__value">
            {% if ticket.data.one_way %}
                <strong class="govuk-tag govuk-tag--green">{% trans "Yes" %}</strong>
            {% else %}
                <strong class="govuk-tag govuk-tag--red">{% trans "No" %}</strong>
            {% endif %}
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">{% trans "Reprint number" %}</dt>
        <dd class="govuk-summary-list__value">{{ ticket.data.reprint_number }}</dd>
    </div>
    {% if ticket.data.extras %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">{% trans "Extras" %}</dt>
            <dd class="govuk-summary-list__value">
                {% for extra in ticket.data.extras %}
                    <div class="govuk-summary-card">
                        <div class="govuk-summary-card__title-wrapper">
                            <h2 class="govuk-summary-card__title">
                                Extra #{{ forloop.counter }}
                            </h2>
                        </div>
                        <div class="govuk-summary-card__content">
                            <dl class="govuk-summary-list">
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">{% trans "Type of addon" %}</dt>
                                    <dd class="govuk-summary-list__value">
                                        {{ extra.type_of_addon }}
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">{% trans "Unique ID" %}</dt>
                                    <dd class="govuk-summary-list__value">
                                        <code>{{ extra.unique_extra_id }}</code>
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">{% trans "Extension type" %}</dt>
                                    <dd class="govuk-summary-list__value">
                                        {{ extra.extension_type }}
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">{% trans "Extension train type" %}</dt>
                                    <dd class="govuk-summary-list__value">
                                        {{ extra.extension_train_type }}
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">{% trans "Product ID" %}</dt>
                                    <dd class="govuk-summary-list__value">
                                        {{ extra.product_id }}
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">{% trans "Price" %}</dt>
                                    <dd class="govuk-summary-list__value">
                                        {{ extra.price_str }}
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">{% trans "Start station" %}</dt>
                                    <dd class="govuk-summary-list__value">
                                        {% with s=extra.start_station|get_station:"sz" %}
                                            {% if s %}
                                                {% include "main/uic/station.html" with station=s %}
                                            {% else %}
                                                <code>{{ extra.start_station }}</code>
                                            {% endif %}
                                        {% endwith %}
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">{% trans "End station" %}</dt>
                                    <dd class="govuk-summary-list__value">
                                        {% with s=extra.end_station|get_station:"sz" %}
                                            {% if s %}
                                                {% include "main/uic/station.html" with station=s %}
                                            {% else %}
                                                <code>{{ extra.end_station }}</code>
                                            {% endif %}
                                        {% endwith %}
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">{% trans "Date" %}</dt>
                                    <dd class="govuk-summary-list__value">
                                        {{ extra.validity_date|date:"F d, Y" }}
                                    </dd>
                                </div>
                                {% if extra.train_number %}
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">{% trans "Train number" %}</dt>
                                        <dd class="govuk-summary-list__value">
                                            {{ extra.train_number }}
                                        </dd>
                                    </div>
                                {% endif %}
                            </dl>
                        </div>
                    </div>
                {% endfor %}
            </dd>
        </div>
    {% endif %}
</dl>
