{% extends "main/base.html" %}
{% load static crispy_forms_tags rics %}

{% block title %}Add DB Subscription - VDV to Apple Wallet{% endblock title %}

{% block content %}
    <div class="govuk-width-container">
        <h1 class="govuk-heading-xl">Add DB Subscription</h1>
        {% if already_present %}
            <div class="govuk-error-summary" data-module="govuk-error-summary">
                <div role="alert">
                    <h2 class="govuk-error-summary__title">Already on another device</h2>
                    <form action="" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="subscription_number" value="{{ form.subscription_number.value }}">
                        <input type="hidden" name="surname" value="{{ form.surname.value }}">
                        <input type="hidden" name="action" value="remove">
                        <div class="govuk-error-summary__body">
                            <p class="govuk-body">
                                Your subscription has already been downloaded onto another device.
                                You can request an email to remove it from there.
                            </p>

                            <button type="submit" class="govuk-button">
                                Request removal
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        {% endif %}
        {% crispy form %}
    </div>
{% endblock %}