{% extends "main/base.html" %}
{% load static crispy_forms_tags rics tz i18n %}

{% block title %}{% trans "DB Subscriptions" %}{% endblock title %}

{% block content %}
    {% localtime off %}
        <div class="govuk-width-container">
            <h1 class="govuk-heading-xl">DB Subscriptions</h1>
            <div class="govuk-button-group">
                <a class="govuk-button" data-module="govuk-button" href="{% url 'new_db_abo' %}">
                    {% trans "Add subscription" %}
                </a>
            </div>
            {% if subscriptions %}
                {% for subscription in subscriptions %}
                    <div class="govuk-summary-card">
                        <div class="govuk-summary-card__title-wrapper">
                            <h2 class="govuk-summary-card__title">
                                {% trans "Subscription" %} #{{ forloop.counter }}
                            </h2>
                            <ul class="govuk-summary-card__actions">
                                <li class="govuk-summary-card__action">
                                    <a class="govuk-link govuk-link--no-visited-state"
                                       href="{% url 'delete_db_abo' subscription.id %}">{% trans "Delete" %}</a>
                                </li>
                            </ul>
                        </div>
                        {% with info=subscription.get_current_info %}
                            <div class="govuk-summary-card__content">
                                <dl class="govuk-summary-list govuk-!-margin-bottom-4">
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                            {% trans "Subscription number" %}
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                            {{ info.auftragsnummer }}
                                        </dd>
                                    </div>
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                            {% trans "Product" %}
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                            {{ info.produktname }}
                                        </dd>
                                    </div>
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                            {% trans "Validity area" %}
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                            {{ info.raeumlicheGueltigkeit }}
                                        </dd>
                                    </div>
                                    {% if info.ersterGeltungszeitpunkt %}
                                        <div class="govuk-summary-list__row">
                                            <dt class="govuk-summary-list__key">
                                                {% trans "Valid from" %}
                                            </dt>
                                            <dd class="govuk-summary-list__value">
                                                {{ info.ersterGeltungszeitpunkt|to_date|date:"F d, Y H:i:s e" }}
                                            </dd>
                                        </div>
                                    {% endif %}
                                    {% if info.letzterGeltungszeitpunkt %}
                                        <div class="govuk-summary-list__row">
                                            <dt class="govuk-summary-list__key">
                                                {% trans "Valid until" %}
                                            </dt>
                                            <dd class="govuk-summary-list__value">
                                                {{ info.letzterGeltungszeitpunkt|to_date|date:"F d, Y H:i:s e" }}
                                            </dd>
                                        </div>
                                    {% endif %}
                                    {% if info.klasse %}
                                        <div class="govuk-summary-list__row">
                                            <dt class="govuk-summary-list__key">
                                                {% trans "Travel class" %}
                                            </dt>
                                            <dd class="govuk-summary-list__value">
                                                {{ info.klasse }}
                                            </dd>
                                        </div>
                                    {% endif %}
                                    {% if info.ticketStatusInfo %}
                                        <div class="govuk-summary-list__row">
                                            <dt class="govuk-summary-list__key"></dt>
                                            <dd class="govuk-summary-list__value">
                                                <div class="govuk-warning-text">
                                                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                                                    <strong class="govuk-warning-text__text">
                                                        <span class="govuk-visually-hidden">{% trans "Warning" %}</span>
                                                        {{ info.ticketStatusInfo }}
                                                    </strong>
                                                </div>
                                            </dd>
                                        </div>
                                    {% endif %}
                                </dl>
                                <h3 class="govuk-heading-m">Tickets</h3>
                                {% if subscription.tickets.count %}
                                    <ul class="govuk-list govuk-list--spaced">
                                        {% for ticket in subscription.tickets.all %}
                                            <li>
                                                <a href="{% url 'ticket' ticket.pk %}"
                                                   class="govuk-link">#{{ ticket.public_id }}
                                                    - {{ ticket.get_ticket_type_display }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <p class="govuk-body">{% trans "No tickets" %}</p>
                                {% endif %}
                            </div>
                        {% endwith %}
                    </div>
                {% endfor %}
            {% else %}
                <p class="govuk-body-l">{% trans "No subscriptions" %}</p>
            {% endif %}
        </div>
    {% endlocaltime %}
{% endblock %}
