{% load tz %}
{% load rics %}

<h2 class="govuk-heading-m">Flexible data</h2>

<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Version</dt>
        <dd class="govuk-summary-list__value"><code>{{ flex.version }}</code></dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Security Provider RICS</dt>
        <dd class="govuk-summary-list__value"><code>{{ flex.data.issuingDetail.securityProviderNum }}</code></dd>
    </div>
    {% with org=flex.data.issuingDetail.securityProviderNum|rics %}
        {% if org %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Security Provider</dt>
                <dd class="govuk-summary-list__value">
                    {% include 'main/rics.html' with org=org %}
                </dd>
            </div>
        {% endif %}
    {% endwith %}
    {% if flex.data.issuingDetail.issuerNum %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Issuer RICS</dt>
            <dd class="govuk-summary-list__value"><code>{{ flex.data.issuingDetail.issuerNum }}</code></dd>
        </div>
        {% with org=flex.data.issuingDetail.issuerNum|rics %}
            {% if org %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Issuer</dt>
                    <dd class="govuk-summary-list__value">
                        {% include 'main/rics.html' with org=org %}
                    </dd>
                </div>
            {% endif %}
        {% endwith %}
    {% elif flex.data.issuingDetail.issuerName %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Issuer</dt>
            <dd class="govuk-summary-list__value">{{ flex.data.issuingDetail.issuerName }}</dd>
        </div>
    {% endif %}
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Issuing time</dt>
        <dd class="govuk-summary-list__value">{{ flex.issuing_time|utc|date:"F d, Y H:i" }} UTC</dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Specimen</dt>
        <dd class="govuk-summary-list__value">
            {% if flex.data.issuingDetail.specimen %}
                <strong class="govuk-tag govuk-tag--green">Yes</strong>
            {% else %}
                <strong class="govuk-tag govuk-tag--red">No</strong>
            {% endif %}
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Secure paper ticket</dt>
        <dd class="govuk-summary-list__value">
            {% if flex.data.issuingDetail.securePaperTicket %}
                <strong class="govuk-tag govuk-tag--green">Yes</strong>
            {% else %}
                <strong class="govuk-tag govuk-tag--red">No</strong>
            {% endif %}
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Activated</dt>
        <dd class="govuk-summary-list__value">
            {% if flex.data.issuingDetail.activated %}
                <strong class="govuk-tag govuk-tag--green">Yes</strong>
            {% else %}
                <strong class="govuk-tag govuk-tag--red">No</strong>
            {% endif %}
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Currency</dt>
        <dd class="govuk-summary-list__value"><code>{{ flex.data.issuingDetail.currency }}</code></dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Issuer PNR</dt>
        <dd class="govuk-summary-list__value"><code>{{ flex.data.issuingDetail.issuerPNR }}</code></dd>
    </div>
    {% if flex.data.travelerDetail %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Travelers</dt>
            <dd class="govuk-summary-list__value">
                {% for traveler in flex.data.travelerDetail.traveler %}
                    <div class="govuk-summary-card">
                        <div class="govuk-summary-card__title-wrapper">
                            <h2 class="govuk-summary-card__title">Traveler #{{ forloop.counter }}</h2>
                        </div>
                        <div class="govuk-summary-card__content">
                            {% include 'main/uic/traveler.html' with traveler=traveler %}
                        </div>
                    </div>
                {% endfor %}
            </dd>
            {% if flex.data.travelerDetail.preferredLanguage %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Traveler preferred language</dt>
                    <dd class="govuk-summary-list__value"><code>{{ flex.data.travelerDetail.preferredLanguage }}</code>
                    </dd>
                </div>
            {% endif %}
            {% if flex.data.travelerDetail.groupName %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Traveler group name</dt>
                    <dd class="govuk-summary-list__value"><code>{{ flex.data.travelerDetail.groupName }}</code></dd>
                </div>
            {% endif %}
        </div>
    {% endif %}
    {% if flex.data.transportDocument %}
        <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Documents</dt>
        <dd class="govuk-summary-list__value">
        {% for doc in flex.data.transportDocument %}
            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    {% if doc.ticket.0 == "reservation" %}
                        <h2 class="govuk-summary-card__title">Reservation</h2>
                    {% elif doc.ticket.0 == "openTicket" %}
                        <h2 class="govuk-summary-card__title">Open ticket</h2>
                    {% elif doc.ticket.0 == "pass" %}
                        <h2 class="govuk-summary-card__title">Pass</h2>
                    {% elif doc.ticket.0 == "customerCard" %}
                        <h2 class="govuk-summary-card__title">Customer card</h2>
                    {% else %}
                        <h2 class="govuk-summary-card__title">Document <code>{{ doc.ticket.0 }}</code></h2>
                    {% endif %}
                </div>
                <div class="govuk-summary-card__content">
                    {% if doc.ticket.0 == "openTicket" %}
                        {% include "main/uic/open_ticket.html" with ticket=doc.ticket.1 %}
                    {% elif doc.ticket.0 == "customerCard" %}
                        {% include "main/uic/customer_card.html" with card=doc.ticket.1 %}
                    {% elif doc.ticket.0 == "pass" %}
                        {% include "main/uic/pass.html" with pass=doc.ticket.1 %}
                    {% else %}
                        <pre>{{ doc.ticket.1|pprint }}</pre>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% endif %}
    {% include "main/uic/extension.html" with obj=flex.data.issuingDetail %}
    </div>
</dl>

<details class="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">Raw data</span>
    </summary>
    <div class="govuk-details__text">
        <pre>{{ flex|pprint }}</pre>
    </div>
</details>