{% load rics %}

{% if ticket.head %}
    <h2 class="govuk-heading-m">Header</h2>
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Distributing RICS</dt>
            <dd class="govuk-summary-list__value"><code>{{ ticket.head.distributing_rics }}</code></dd>
        </div>
        {% with org=ticket.head.distributor %}
            {% if org %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Distributor</dt>
                    <dd class="govuk-summary-list__value">
                        {% include 'main/rics.html' with org=org %}
                    </dd>
                </div>
            {% endif %}
        {% endwith %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Ticket ID</dt>
            <dd class="govuk-summary-list__value"><code>{{ ticket.head.ticket_id }}</code></dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Issuing time</dt>
            <dd class="govuk-summary-list__value">{{ ticket.head.issuing_time.as_datetime|date:"F d, Y H:i" }}</dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Flags</dt>
            <dd class="govuk-summary-list__value">
                <table class="govuk-table">
                    <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">International ticket</td>
                        <td class="govuk-table__cell">
                            {% if ticket.head.flags.international_ticket %}
                                <strong class="govuk-tag govuk-tag--green">Yes</strong>
                            {% else %}
                                <strong class="govuk-tag govuk-tag--red">No</strong>
                            {% endif %}
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Edited by agent</td>
                        <td class="govuk-table__cell">
                            {% if ticket.head.flags.edited_by_agent %}
                                <strong class="govuk-tag govuk-tag--green">Yes</strong>
                            {% else %}
                                <strong class="govuk-tag govuk-tag--red">No</strong>
                            {% endif %}
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" style="border-bottom: none">Specimen</td>
                        <td class="govuk-table__cell" style="border-bottom: none">
                            {% if ticket.head.flags.specimen %}
                                <strong class="govuk-tag govuk-tag--green">Yes</strong>
                            {% else %}
                                <strong class="govuk-tag govuk-tag--red">No</strong>
                            {% endif %}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Language</dt>
            <dd class="govuk-summary-list__value"><code>{{ ticket.head.language|upper }}</code></dd>
        </div>
        {% if ticket.head.second_language %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Second language</dt>
                <dd class="govuk-summary-list__value"><code>{{ ticket.head.second_language|upper }}</code></dd>
            </div>
        {% endif %}
    </dl>
{% endif %}

{% if ticket.layout %}
    {% include 'main/uic/paper.html' with layout=ticket.layout %}
{% endif %}

{% if ticket.flex %}
    {% include "main/uic/flex.html" with flex=ticket.flex %}
{% endif %}

{% if ticket.db_bl %}
    {% include "main/uic/db.html" with db=ticket.db_bl %}
{% endif %}

{% if ticket.cd_ut %}
    {% include "main/uic/cd.html" with cd=ticket.cd_ut %}
{% endif %}

{% for record in ticket.other_records %}
    <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Unknown record <code>{{ record.id }}</code> - version <code>{{ record.version }}</code></h2>
        </div>
        <div class="govuk-summary-card__content">
            <code style="line-break: anywhere">{{ record.data_hex }}</code>
        </div>
    </div>
{% endfor %}