{% extends "main/base.html" %}
{% load static %}

{% block title %}Login link sent - VDV to Apple Wallet{% endblock title %}

{% block content %}
    <div class="govuk-width-container">
        <h1 class="govuk-heading-xl">Check your email</h1>
        <p class="govuk-body-lead">
            We've sent you a magic login link to your email.
        </p>
        <p class="govuk-body">
            If you haven't received anything yet please check your spam folder,
            and that you've entered your email correctly.
        </p>
    </div>
{% endblock %}