{% extends "main/base.html" %}
{% load static tz i18n %}

{% block title %}{% if ticket.label %}{{ ticket.label }}{% else %}{% blocktrans with id=ticket.public_id %}Ticket
    {{ id }}{% endblocktrans %}{% endif %}{% endblock title %}

{% block content %}
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds-from-desktop">
                <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
                    {% if ticket.label %}
                        {{ ticket.label }}
                        <img src="{% static 'main/sf-share.svg' %}" alt="Share"
                             style="height: 1.7rem; vertical-align: baseline; display: inline;" id="share-button">
                        <span class="govuk-caption-xl">#{{ ticket.public_id }} - {{ ticket.get_ticket_type_display }}</span>
                    {% else %}
                        {% blocktrans with id=ticket.public_id %}Ticket #{{ id }}{% endblocktrans %}
                        <img src="{% static 'main/sf-share.svg' %}" alt="Share"
                             style="height: 1.7rem; vertical-align: baseline; display: none;" id="share-button">
                        <span class="govuk-caption-xl">{{ ticket.get_ticket_type_display }}</span>
                    {% endif %}
                </h1>
            </div>
            <div class="govuk-grid-column-one-third-from-desktop">
                <a href="{% url 'edit_ticket' ticket.id %}" class="govuk-button">
                    {% trans "Edit name" %}
                </a>
                <a href="{% url 'delete_ticket' ticket.id %}" class="govuk-button govuk-button--warning">
                    {% trans "Delete" %}
                </a>
            </div>
        </div>

        <p class="govuk-body">{% trans "Quote the above ticket number when asking for help." %}</p>

        {% if ticket_updated %}
            <div class="govuk-notification-banner govuk-notification-banner--success" role="region"
                 data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                        {% if ticket_created %}
                            {% trans "Ticket created" %}
                        {% else %}
                            {% trans "Ticket updated" %}
                        {% endif %}
                    </h2>
                </div>
                <div class="govuk-notification-banner__content">
                    <p class="govuk-body">
                        {% if ticket_created %}
                            {% blocktrans trimmed %}
                                Your ticket has been created; download your pass below to add it to your Apple or Google
                                Wallet.
                            {% endblocktrans %}
                        {% else %}
                            {% blocktrans trimmed %}
                                Your ticket has been updated; it has been sent to your Apple and Google devices in the
                                background.
                            {% endblocktrans %}
                        {% endif %}
                    </p>
                </div>
            </div>
        {% endif %}

        {% if is_saarvv and not has_saarvv %}
            <div class="govuk-notification-banner govuk-notification-banner--info"
                 role="region"
                 data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__content">
                    {% trans "This appears to be a SaarVV ticket." %}
                    {% if user.is_authenticated %}
                        {% url 'saarvv_login' as url %}
                        {% blocktrans trimmed %}
                            <a href="{{ url }}">Link your SaarVV account</a> to have it automatically
                            refresh in the background.
                        {% endblocktrans %}
                    {% else %}
                        {% url 'magiclink:login' as url %}
                        {% blocktrans trimmed %}
                            <a href="{{ url }}">Login to your account</a> and link your SaarVV
                            account to have it automatically refresh in the background.
                        {% endblocktrans %}
                    {% endif %}
                </div>
            </div>
        {% endif %}

        {% if is_sbahn_berlin and not has_sbahn_berlin %}
            <div class="govuk-notification-banner govuk-notification-banner--info"
                 role="region"
                 data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__content">
                    {% trans "This appears to be an S-Bahn Berlin ticket." %}
                    {% if user.is_authenticated %}
                        {% url 'sbahn_berlin_login' as url %}
                        {% blocktrans trimmed %}
                            <a href="{{ url }}">Link your S-Bahn Berlin account</a> to have it automatically
                            refresh in the background.
                        {% endblocktrans %}
                    {% else %}
                        {% url 'magiclink:login' as url %}
                        {% blocktrans trimmed %}
                            <a href="{{ url }}">Login to your account</a> and link your S-Bahn Berlin
                            account to have it automatically refresh in the background.
                        {% endblocktrans %}
                    {% endif %}
                </div>
            </div>
        {% endif %}

        {% if is_db_abo and not has_db_abo %}
            <div class="govuk-notification-banner govuk-notification-banner--info"
                 role="region"
                 data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__content">
                    {% trans "This appears to be a Deutsche Bahn ticket." %}
                    {% if user.is_authenticated %}
                        {% url 'db_login' as login_url %}
                        {% url 'new_db_abo' as abo_url %}
                        {% blocktrans trimmed %}
                            <a href="{{ url }}">Link your DB account</a> or
                            <a href="{{ url }}">add your DB subscription</a> to have it automatically refresh
                            in the background.
                        {% endblocktrans %}
                    {% else %}
                        {% url 'magiclink:login' as url %}
                        {% blocktrans trimmed %}
                            <a href="{{ url }}">Login to your account</a> and link your DB account or add
                            your DB subscription to have it automatically refresh in the background.
                        {% endblocktrans %}
                    {% endif %}
                </div>
            </div>
        {% endif %}

        {% if photo_upload_forms %}
            <h2 class="govuk-heading-m">{% trans "Photos" %}</h2>
            <p class="govuk-body">
                {% trans "Your pass requires passport style photos. Please upload them below." %}
            </p>
            {% for k, f in photo_upload_forms.items %}
                <h3 class="govuk-heading-s">Photo for {{ f.name }}</h3>
                {% if f.current %}
                    <details class="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">{% trans "Current photo" %}</span>
                        </summary>
                        <div class="govuk-details__text">
                            <img src="{{ f.current }}" alt="" style="max-width: 100px">
                        </div>
                    </details>
                {% endif %}
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="photo-upload" value="{{ k }}">
                    <div class="govuk-form-group">
                        {% if f.errors %}
                            <p class="govuk-error-message">
                                {{ f.errors }}
                            </p>
                        {% endif %}
                        <label class="govuk-label" for="file-upload-1">
                            {% trans "Upload photo" %}
                        </label>
                        <input class="govuk-file-upload" name="photo" type="file" accept="image/*">
                    </div>
                    <button type="submit" class="govuk-button" data-module="govuk-button">
                        {% trans "Save" %}
                    </button>
                </form>
            {% endfor %}
        {% endif %}

        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                {% trans "Download your pass" %}
            </h1>
            <div class="govuk-panel__body">
                {% get_current_language as LANGUAGE %}
                {% if LANGUAGE == "de" %}
                    <a href="{% url 'ticket_pkpass' ticket.id %}" style="text-decoration: none;">
                        <img src="{% static 'main/add-to-apple-wallet-de.svg' %}" alt="Hinzufügen zu Apple Wallet"
                             class="apple-wallet-button">
                    </a>
                {% elif LANGUAGE == "nl" %}
                    <a href="{% url 'ticket_pkpass' ticket.id %}" style="text-decoration: none;">
                        <img src="{% static 'main/add-to-apple-wallet-nl.svg' %}" alt="Voeg toe aan Apple Wallet"
                             class="apple-wallet-button">
                    </a>
                {% elif LANGUAGE == "fr" %}
                    <a href="{% url 'ticket_pkpass' ticket.id %}" style="text-decoration: none;">
                        <img src="{% static 'main/add-to-apple-wallet-fr.svg' %}" alt="Ajouter à Cartes Apple"
                             class="apple-wallet-button">
                    </a>
                {% else %}
                    <a href="{% url 'ticket_pkpass' ticket.id %}" style="text-decoration: none;">
                        <img src="{% static 'main/add-to-apple-wallet.svg' %}" alt="Add to Apple Wallet"
                             class="apple-wallet-button">
                    </a>
                {% endif %}
                {% if gwallet_url %}
                    {% if LANGUAGE == "de" %}
                        <a href="{{ gwallet_url }}" style="text-decoration: none;" target="_blank">
                            <img src="{% static 'main/add-to-google-wallet-de.svg' %}" alt="Hinzufügen zu Google Wallet"
                                 class="g-wallet-button">
                        </a>
                    {% elif LANGUAGE == "nl" %}
                        <a href="{{ gwallet_url }}" style="text-decoration: none;" target="_blank">
                            <img src="{% static 'main/add-to-google-wallet-nl.svg' %}" alt="Toevoegen aan Google Wallet"
                                 class="g-wallet-button">
                        </a>
                    {% elif LANGUAGE == "fr" %}
                        <a href="{{ gwallet_url }}" style="text-decoration: none;" target="_blank">
                            <img src="{% static 'main/add-to-google-wallet-fr.svg' %}" alt="Ajouter à Google Wallet"
                                 class="g-wallet-button">
                        </a>
                    {% else %}
                        <a href="{{ gwallet_url }}" style="text-decoration: none;" target="_blank">
                            <img src="{% static 'main/add-to-google-wallet.svg' %}" alt="Add to Google Wallet"
                                 class="g-wallet-button">
                        </a>
                    {% endif %}
                {% endif %}
                {% if ical_url %}
                    <br/>
                    <a href="{{ ical_url }}"
                       class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0 govuk-!-margin-top-4">
                        {% trans "Add to Calendar" %}</a>
                {% endif %}
            </div>
        </div>
    </div>

    {% if ticket.ticket_type == ticket.TYPE_RAILCARD %}
        <div class="govuk-width-container">
            <div class="govuk-error-summary">
                <div role="alert">
                    <h2 class="govuk-error-summary__title">Caution about Railcards in Wallet</h2>
                    <div class="govuk-error-summary__body">
                        <div class="govuk-warning-text">
                            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                            <strong class="govuk-warning-text__text">
                                {% blocktrans trimmed %}
                                    The standards of the Rail Delivery Group do not allow a Railcard to be shown in
                                    Apple/Google Wallet. We have heard no reported issues of displaying a Railcard like
                                    this, but please be warned that you may be considered to be travelling without
                                    a valid ticket.
                                {% endblocktrans %}
                            </strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="govuk-!-margin-7">
        <h2 class="govuk-heading-l">{% trans "Ticket details" %}</h2>
        {% if not ticket.vdv_instances.count and not ticket.uic_instances.count and not ticket.rsp_instances.count and not ticket.sncf_instances.count and not ticket.elb_instances.count and not ticket.ssb_instances.count and not ticket.ssb1_instances.count and not ticket.hzpp_instances.count and not ticket.swisspass_instances.count and not ticket.iata_instances.count and not ticket.bahnbonus_instances.count and not ticket.ft_instances.count and not ticket.ts2_instances.count and not ticket.sncb_trainplus_instances.count and not ticket.adif_instances.count and not ticket.mav_instances.count %}
            <p class="govuk-body">{% trans "No instances found for this ticket." %}</p>
        {% else %}
            {% localtime off %}
                {% for instance in ticket.vdv_instances.all %}
                    {% with ticket_obj=instance.as_ticket %}
                        <details class="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">
                                    {% blocktrans with id=ticket_obj.ticket.ticket_id %}VDV Ticket #{{ id }}{% endblocktrans %}
                                </span>
                                <span>{{ instance.validity_start|date:"F d, Y H:i:s e" }} - {{ instance.validity_end|date:"F d, Y H:i:s e" }}</span>
                            </summary>
                            <div class="govuk-details__text">
                                {% include 'main/vdv_ticket_details.html' with ticket=ticket_obj %}
                            </div>
                        </details>
                    {% endwith %}
                {% endfor %}
                {% for instance in ticket.uic_instances.all %}
                    {% with ticket_obj=instance.as_ticket %}
                        {% if ticket_obj.envelope.revoked_key %}
                            <div class="govuk-width-container">
                                <div class="govuk-error-summary">
                                    <div role="alert">
                                        <h2 class="govuk-error-summary__title">{% trans "This ticket is invalid" %}</h2>
                                        <div class="govuk-error-summary__body">
                                            <div class="govuk-warning-text">
                                                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                                                <strong class="govuk-warning-text__text">
                                                    {% blocktrans trimmed %}
                                                        The key used to sign this ticket has been revoked due to misuse.
                                                        Travelling on this ticket is likely to result in a penalty fare.
                                                        More details:
                                                        <a href="https://www.heise.de/en/news/Beware-of-invalid-Germany-tickets-fare-dodgers-against-their-will-10280040.html"
                                                           target="_blank">English version</a>.
                                                    {% endblocktrans %}
                                                    <a href="https://www.heise.de/news/Vorsicht-vor-ungueltigen-Deutschlandtickets-Schwarzfahrer-wider-Willen-10279694.html"
                                                       target="_blank">German version</a>
                                                </strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <details class="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">
                                    {% blocktrans with id=ticket_obj.ticket_id %}UIC Ticket #{{ id }}{% endblocktrans %}
                                </span>
                                {% with distributor=ticket_obj.distributor %}
                                    {% if distributor %}
                                        <span>{{ distributor.full_name }} - {{ distributor.country }}</span>
                                    {% endif %}
                                {% endwith %}
                            </summary>
                            <div class="govuk-details__text">
                                {% include 'main/uic/ticket_details.html' with ticket=ticket_obj %}
                            </div>
                        </details>
                    {% endwith %}
                {% endfor %}
                {% for instance in ticket.rsp_instances.all %}
                    {% with ticket_obj=instance.as_ticket %}
                        <details class="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">
                                    {% blocktrans with id=instance.reference %}RSP Ticket #{{ id }}{% endblocktrans %}
                                </span>
                                {% trans "Type" %} {{ instance.ticket_type }} - {{ instance.issuer_id }}
                            </summary>
                            <div class="govuk-details__text">
                                {% include 'main/rsp/rsp_ticket_details.html' with ticket=ticket_obj %}
                            </div>
                        </details>
                    {% endwith %}
                {% endfor %}
                {% for instance in ticket.ft_instances.all %}
                    {% with ticket_obj=instance.as_ticket %}
                        <details class="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">
                                    {% blocktrans with id=ticket_obj.ticket_data.E_TICKET_NUMBER %}FlexiTicket #
                                        {{ id }}{% endblocktrans %}
                                </span>
                                - {{ instance.issuer_id }}
                            </summary>
                            <div class="govuk-details__text">
                                {% include 'main/ft_ticket_details.html' with ticket=ticket_obj %}
                            </div>
                        </details>
                    {% endwith %}
                {% endfor %}
                {% for instance in ticket.sncf_instances.all %}
                    {% with ticket_obj=instance.as_ticket %}
                        <details class="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">
                                    {% blocktrans with id=ticket_obj.data.pnr %}SNCF Ticket #{{ id }}{% endblocktrans %}
                                </span>
                            </summary>
                            <div class="govuk-details__text">
                                {% include 'main/sncf_ticket_details.html' with ticket=ticket_obj %}
                            </div>
                        </details>
                    {% endwith %}
                {% endfor %}
                {% for instance in ticket.elb_instances.all %}
                    {% with ticket_obj=instance.as_ticket %}
                        {% with trip=ticket_obj.data.gtfs_trip %}
                            {% if trip %}
                                {% include "gtfs/trip.html" with trip=trip %}
                            {% endif %}
                        {% endwith %}
                        <details class="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">
                                    {% blocktrans with id=ticket_obj.data.pnr %}ELB Ticket #{{ id }}{% endblocktrans %}
                                    -
                                    {% blocktrans with seq=ticket_obj.data.sequence_number %}sequence #
                                        {{ seq }}{% endblocktrans %}
                                </span>
                            </summary>
                            <div class="govuk-details__text">
                                {% include 'main/elb_ticket_details.html' with ticket=ticket_obj %}
                            </div>
                        </details>
                    {% endwith %}
                {% endfor %}
                {% for instance in ticket.ssb_instances.all %}
                    {% with ticket_obj=instance.as_ticket %}
                        <details class="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">
                                    {% blocktrans with id=ticket_obj.data.pnr %}SSB Ticket #{{ id }}{% endblocktrans %}
                                </span>
                                {% with distributor=ticket_obj.envelope.issuer %}
                                    {% if distributor %}
                                        <span>{{ distributor.full_name }} - {{ distributor.country }}</span>
                                    {% endif %}
                                {% endwith %}
                            </summary>
                            <div class="govuk-details__text">
                                {% include 'main/ssb_ticket_details.html' with ticket=ticket_obj %}
                            </div>
                        </details>
                    {% endwith %}
                {% endfor %}
                {% for instance in ticket.ssb1_instances.all %}
                    {% with ticket_obj=instance.as_ticket %}
                        <details class="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">
                                    {% blocktrans with id=ticket_obj.data.pnr %}SSBv1 Ticket #{{ id }}{% endblocktrans %}
                                </span>
                                {% with distributor=ticket_obj.ticket.issuer %}
                                    {% if distributor %}
                                        <span>{{ distributor.full_name }} - {{ distributor.country }}</span>
                                    {% endif %}
                                {% endwith %}
                            </summary>
                            <div class="govuk-details__text">
                                {% include 'main/ssb1_ticket_details.html' with ticket=ticket_obj %}
                            </div>
                        </details>
                    {% endwith %}
                {% endfor %}
                {% for instance in ticket.hzpp_instances.all %}
                    {% with ticket_obj=instance.as_ticket %}
                        <details class="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">
                                    {% blocktrans with id=ticket_obj.data.ticket_number %}HŽPP Ticket #{{ id }}{% endblocktrans %}
                                </span>
                            </summary>
                            <div class="govuk-details__text">
                                {% include 'main/hzpp_ticket_details.html' with ticket=ticket_obj %}
                            </div>
                        </details>
                    {% endwith %}
                {% endfor %}
                {% for instance in ticket.swisspass_instances.all %}
                    {% with ticket_obj=instance.as_ticket %}
                        <details class="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">
                                    {% blocktrans with id=ticket_obj.data.ticket.ticket_data.ticket_id %}SwissPass Ticket #{{ id }}{% endblocktrans %}
                                </span>
                            </summary>
                            <div class="govuk-details__text">
                                {% include 'main/swisspass_ticket_details.html' with ticket=ticket_obj %}
                            </div>
                        </details>
                    {% endwith %}
                {% endfor %}
                {% for instance in ticket.iata_instances.all %}
                    {% with ticket_obj=instance.as_ticket %}
                        <details class="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">
                                    {% blocktrans with id=ticket_obj.data.pnr %}IATA Ticket #{{ id }}{% endblocktrans %}
                                    -
                                    {% blocktrans with seq=ticket_obj.data.sequence %}sequence #
                                        {{ seq }}{% endblocktrans %}
                                </span>
                            </summary>
                            <div class="govuk-details__text">
                                {% include 'main/iata_ticket_details.html' with ticket=ticket_obj %}
                            </div>
                        </details>
                    {% endwith %}
                {% endfor %}
                {% for instance in ticket.bahnbonus_instances.all %}
                    {% with ticket_obj=instance.as_ticket %}
                        <details class="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">BahnBonus #{{ ticket_obj.data.barcode_id }}</span>
                            </summary>
                            <div class="govuk-details__text">
                                {% include 'main/bahnbonus.html' with ticket=ticket_obj %}
                            </div>
                        </details>
                    {% endwith %}
                {% endfor %}
                {% for instance in ticket.ts2_instances.all %}
                    {% with ticket_obj=instance.as_ticket %}
                        <details class="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">
                                    {% blocktrans with id=ticket_obj.data.ticket_id %}TS2 Ticket #{{ id }}{% endblocktrans %}
                                </span>
                                {% with distributor=ticket_obj.distributor %}
                                    {% if distributor %}
                                        <span>{{ distributor.full_name }} - {{ distributor.country }}</span>
                                    {% endif %}
                                {% endwith %}
                            </summary>
                            <div class="govuk-details__text">
                                {% include 'main/ts2_ticket_details.html' with ticket=ticket_obj %}
                            </div>
                        </details>
                    {% endwith %}
                {% endfor %}
                {% for instance in ticket.sncb_trainplus_instances.all %}
                    {% with ticket_obj=instance.as_ticket %}
                        <details class="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">SNCB Train+ #{{ ticket_obj.data.card_number }}</span>
                            </summary>
                            <div class="govuk-details__text">
                                {% include 'main/sncb_train_plus.html' with ticket=ticket_obj %}
                            </div>
                        </details>
                    {% endwith %}
                {% endfor %}
                {% for instance in ticket.adif_instances.all %}
                    {% with ticket_obj=instance.as_ticket %}
                        <details class="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">{% blocktrans with id=ticket_obj.ticket_ref %}ADIF Ticket #{{ id }}{% endblocktrans %}</span>
                                {% with distributor=ticket_obj.distributor %}
                                    {% if distributor %}
                                        <span>{{ distributor.full_name }} - {{ distributor.country }}</span>
                                    {% endif %}
                                {% endwith %}
                            </summary>
                            <div class="govuk-details__text">
                                {% include 'main/adif.html' with ticket=ticket_obj %}
                            </div>
                        </details>
                    {% endwith %}
                {% endfor %}
                {% for instance in ticket.mav_instances.all %}
                    {% with ticket_obj=instance.as_ticket %}
                        <details class="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">{% blocktrans with id=ticket_obj.envelope.ticket_id %}MÁV Ticket #{{ id }}{% endblocktrans %}</span>
                                {% with distributor=ticket_obj.distributor %}
                                    {% if distributor %}
                                        <span>{{ distributor.full_name }} - {{ distributor.country }}</span>
                                    {% endif %}
                                {% endwith %}
                            </summary>
                            <div class="govuk-details__text">
                                {% include 'main/mav.html' with ticket=ticket_obj %}
                            </div>
                        </details>
                    {% endwith %}
                {% endfor %}
            {% endlocaltime %}
        {% endif %}
    </div>
    <script>
        const sharedData = {
            title: "{% if ticket.label %}{{ ticket.label }} (#{{ ticket.public_id }}){% else %}#{{ ticket.public_id }} - {{ ticket.get_ticket_type_display }}{% endif %}",
            url: "{{ ticket_url }}"
        };

        function canBrowserShareData(data) {
            if (!navigator.share || !navigator.canShare) {
                return false;
            }

            return navigator.canShare(data);
        }

        async function shareData(data) {
            try {
                await navigator.share(data);
            } catch (e) {
                console.error(`Error sharing: ${e}`);
            }
        }

        window.addEventListener("load", function () {
            const shareButton = document.getElementById("share-button");

            if (canBrowserShareData(sharedData)) {
                shareButton.style.display = "inline-block";
                shareButton.addEventListener("click", function () {
                    shareData(sharedData);
                });
            }
        })
    </script>
{% endblock content %}
