{% load tz %}
{% load rics %}
<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Security Provider RICS</dt>
    <dd class="govuk-summary-list__value"><code>{{ flex.data.issuingDetail.securityProviderNum }}</code></dd>
</div>
{% with org=flex.data.issuingDetail.securityProviderNum|rics %}
    {% if org %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Security Provider</dt>
            <dd class="govuk-summary-list__value">
                {% include 'main/rics.html' with org=org %}
            </dd>
        </div>
    {% endif %}
{% endwith %}
<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Issuer RICS</dt>
    <dd class="govuk-summary-list__value"><code>{{ flex.data.issuingDetail.issuerNum }}</code></dd>
</div>
{% with org=flex.data.issuingDetail.issuerNum|rics %}
    {% if org %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Issuer</dt>
            <dd class="govuk-summary-list__value">
                {% include 'main/rics.html' with org=org %}
            </dd>
        </div>
    {% endif %}
{% endwith %}
<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Issuing time</dt>
    <dd class="govuk-summary-list__value">{{ flex.issuing_time|utc|date:"F d, Y H:i" }} UTC</dd>
</div>
<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Specimen</dt>
    <dd class="govuk-summary-list__value">
        {% if flex.data.issuingDetail.specimen %}
            <strong class="govuk-tag govuk-tag--green">Yes</strong>
        {% else %}
            <strong class="govuk-tag govuk-tag--red">No</strong>
        {% endif %}
    </dd>
</div>
<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Secure paper ticket</dt>
    <dd class="govuk-summary-list__value">
        {% if flex.data.issuingDetail.securePaperTicket %}
            <strong class="govuk-tag govuk-tag--green">Yes</strong>
        {% else %}
            <strong class="govuk-tag govuk-tag--red">No</strong>
        {% endif %}
    </dd>
</div>
<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Activated</dt>
    <dd class="govuk-summary-list__value">
        {% if flex.data.issuingDetail.activated %}
            <strong class="govuk-tag govuk-tag--green">Yes</strong>
        {% else %}
            <strong class="govuk-tag govuk-tag--red">No</strong>
        {% endif %}
    </dd>
</div>
<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Currency</dt>
    <dd class="govuk-summary-list__value"><code>{{ flex.data.issuingDetail.currency }}</code></dd>
</div>
<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Issuer PNR</dt>
    <dd class="govuk-summary-list__value"><code>{{ flex.data.issuingDetail.issuerPNR }}</code></dd>
</div>
{% if flex.data.travelerDetail %}
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Travelers</dt>
        <dd class="govuk-summary-list__value">
            {% for traveler in flex.data.travelerDetail.traveler %}
                <div class="govuk-summary-card">
                    <div class="govuk-summary-card__title-wrapper">
                        <h2 class="govuk-summary-card__title">Traveler #{{ forloop.counter }}</h2>
                    </div>
                    <div class="govuk-summary-card__content">
                        <dl class="govuk-summary-list">
                            {% if traveler.firstName %}
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">Forename</dt>
                                    <dd class="govuk-summary-list__value">{{ traveler.firstName }}</dd>
                                </div>
                            {% endif %}
                            {% if traveler.secondName %}
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">Middle name</dt>
                                    <dd class="govuk-summary-list__value">{{ traveler.secondName }}</dd>
                                </div>
                            {% endif %}
                            {% if traveler.lastName %}
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">Surname</dt>
                                    <dd class="govuk-summary-list__value">{{ traveler.lastName }}</dd>
                                </div>
                            {% endif %}
                            {% if traveler.title %}
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">Title</dt>
                                    <dd class="govuk-summary-list__value">{{ traveler.title }}</dd>
                                </div>
                            {% endif %}
                            {% if traveler.idCard %}
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">ID Card Number</dt>
                                    <dd class="govuk-summary-list__value"><code>{{ traveler.idCard }}</code></dd>
                                </div>
                            {% endif %}
                            {% if traveler.passportId %}
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">Passport Number</dt>
                                    <dd class="govuk-summary-list__value"><code>{{ traveler.passportId }}</code></dd>
                                </div>
                            {% endif %}
                            {% with dob=traveler|rics_traveler_dob %}
                                {% if dob %}
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">Date of birth</dt>
                                        <dd class="govuk-summary-list__value">{{ dob|date:"F d, Y" }}</dd>
                                    </div>
                                {% endif %}
                            {% endwith %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Ticket holder</dt>
                                <dd class="govuk-summary-list__value">
                                    {% if traveler.ticketHolder %}
                                        <strong class="govuk-tag govuk-tag--green">Yes</strong>
                                    {% else %}
                                        <strong class="govuk-tag govuk-tag--red">No</strong>
                                    {% endif %}
                                </dd>
                            </div>
                        </dl>
                    </div>
                </div>
            {% endfor %}
        </dd>
        {% if flex.data.travelerDetail.preferredLanguage %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Traveler preferred language</dt>
                <dd class="govuk-summary-list__value"><code>{{ flex.data.travelerDetail.preferredLanguage }}</code></dd>
            </div>
        {% endif %}
        {% if flex.data.travelerDetaul.groupName %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Traveler group name</dt>
                <dd class="govuk-summary-list__value"><code>{{ flex.data.travelerDetail.groupName }}</code></dd>
            </div>
        {% endif %}
    </div>
{% endif %}
{% if flex.data.transportDocument %}
    <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Documents</dt>
    <dd class="govuk-summary-list__value">
    {% for doc in flex.data.transportDocument %}
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Document #{{ forloop.counter }}</h2>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Document type</dt>
                        <dd class="govuk-summary-list__value"><code>{{ doc.ticket.0 }}</code></dd>
                    </div>
                    {% if doc.ticket.0 == "openTicket" %}
                        {% with ticket=doc.ticket.1 %}
                            {% if ticket.referenceNum %}
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">Reference number</dt>
                                    <dd class="govuk-summary-list__value"><code>{{ ticket.referenceNum }}</code></dd>
                                </div>
                            {% endif %}
                            {% if ticket.referenceIA5 %}
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">Reference</dt>
                                    <dd class="govuk-summary-list__value"><code>{{ ticket.referenceIA5 }}</code></dd>
                                </div>
                            {% endif %}
                            {% if ticket.productIdNum %}
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">Product ID number</dt>
                                    <dd class="govuk-summary-list__value"><code>{{ ticket.productIdNum }}</code></dd>
                                </div>
                            {% endif %}
                            {% if ticket.productIdIA5 %}
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">Product ID</dt>
                                    <dd class="govuk-summary-list__value">{{ ticket.productIdIA5 }}</dd>
                                </div>
                            {% endif %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Return included</dt>
                                <dd class="govuk-summary-list__value">
                                    {% if ticket.returnIncluded %}
                                        <strong class="govuk-tag govuk-tag--green">Yes</strong>
                                    {% else %}
                                        <strong class="govuk-tag govuk-tag--red">No</strong>
                                    {% endif %}
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Valid from</dt>
                                <dd class="govuk-summary-list__value">
                                    {{ ticket|rics_valid_from:flex.issuing_time|utc|date:"F d, Y H:i" }} UTC
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Valid until</dt>
                                <dd class="govuk-summary-list__value">
                                    {{ ticket|rics_valid_until:flex.issuing_time|utc|date:"F d, Y H:i" }} UTC
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Travel class</dt>
                                <dd class="govuk-summary-list__value"><code>{{ ticket.classCode }}</code></dd>
                            </div>
                            {% if ticket.tariffs %}
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">Tariffs</dt>
                                    <dd class="govuk-summary-list__value">
                                        {% for tariff in ticket.tariffs %}
                                            <div class="govuk-summary-card">
                                                <div class="govuk-summary-card__title-wrapper">
                                                    <h2 class="govuk-summary-card__title">Tariff #{{ forloop.counter }}</h2>
                                                </div>
                                                <div class="govuk-summary-card__content">
                                                    <dl class="govuk-summary-list">
                                                        <div class="govuk-summary-list__row">
                                                            <dt class="govuk-summary-list__key">Number of passengers</dt>
                                                            <dd class="govuk-summary-list__value">{{ tariff.numberOfPassengers }}</dd>
                                                        </div>
                                                        {% if tariff.passengerType %}
                                                            <div class="govuk-summary-list__row">
                                                                <dt class="govuk-summary-list__key">Passenger type</dt>
                                                                <dd class="govuk-summary-list__value"><code>{{ tariff.passengerType }}</code></dd>
                                                            </div>
                                                        {% endif %}
                                                        {% if tariff.tariffDesc %}
                                                            <div class="govuk-summary-list__row">
                                                                <dt class="govuk-summary-list__key">Description</dt>
                                                                <dd class="govuk-summary-list__value">{{ tariff.tariffDesc }}</dd>
                                                            </div>
                                                        {% endif %}
                                                    </dl>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </dd>
                                </div>
                            {% endif %}
                        {% endwith %}
                    {% endif %}
                </dl>
            </div>
        </div>
    {% endfor %}
{% endif %}
