{% extends "main/base.html" %}
{% load static tz rics i18n %}

{% block title %}{% trans "Smartcard" %} {{ smartcard.public_id }}{% endblock title %}

{% block content %}
    {% localtime off %}
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds-from-desktop">
                    <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
                        {% trans "Smartcard" %} #{{ smartcard.public_id }}
                    </h1>
                </div>
                <div class="govuk-grid-column-one-third-from-desktop">
                    {#                <a href="{% url 'delete_ticket' ticket.id %}" class="govuk-button govuk-button--warning">#}
                    {#                    {% trans "Delete" %} #}
                    {#                </a>#}
                </div>
            </div>
            <p class="govuk-body">{% trans "Quote the above smartcard number when asking for help." %}</p>
        </div>

        <div class="govuk-!-margin-7">
            <h2 class="govuk-heading-l">{% trans "Smartcard details" %}</h2>
            {% with card=smartcard.as_card %}
            <h3 class="govuk-heading-m">{% trans "File Control Information" %}</h3>
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">{% trans "AID" %}</dt>
                        <dd class="govuk-summary-list__value">
                            <code>{{ card.fci.aid|as_hex }}</code>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">{% trans "Version" %}</dt>
                        <dd class="govuk-summary-list__value">
                            {{ card.fci.spec_version }}
                        </dd>
                    </div>
                    {% with org_name=card.fci.manufacturer_org_name_opt %}
                        {% if org_name %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">{% trans "Manufacturer organisation" %}</dt>
                                <dd class="govuk-summary-list__value">
                                    {{ org_name }} (<code>{{ card.fci.manufacturer_org_id }}</code>)
                                </dd>
                            </div>
                        {% else %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">{% trans "Manufacturer organisation ID" %}</dt>
                                <dd class="govuk-summary-list__value">
                                    <code>{{ card.fci.manufacturer_org_id }}</code>
                                </dd>
                            </div>
                        {% endif %}
                    {% endwith %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">{% trans "Manufacturer version number" %}</dt>
                        <dd class="govuk-summary-list__value">
                            {{ card.fci.manufacturer_version_number|as_hex }}
                        </dd>
                    </div>
                </dl>

                <h3 class="govuk-heading-m">{% trans "Application Directory" %}</h3>
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">{% trans "Application Data" %}</dt>
                        <dd class="govuk-summary-list__value">
                            <dl class="govuk-summary-list">
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">{% trans "Data File Pointer" %}</dt>
                                    <dd class="govuk-summary-list__value">
                                        <code>{{ card.application_directory.application_data.data_pointer }}</code>
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">{% trans "Instance number" %}</dt>
                                    <dd class="govuk-summary-list__value">
                                        <code>{{ card.application_directory.application_data.application_instance_number }}</code>
                                    </dd>
                                </div>
                                {% with org_name=card.application_directory.application_data.application_instance_org_name_opt %}
                                    {% if org_name %}
                                        <div class="govuk-summary-list__row">
                                            <dt class="govuk-summary-list__key">{% trans "Instance organisation" %}</dt>
                                            <dd class="govuk-summary-list__value">
                                                {{ org_name }}
                                                (<code>{{ card.application_directory.application_data.application_instance_org_id }}</code>)
                                            </dd>
                                        </div>
                                    {% else %}
                                        <div class="govuk-summary-list__row">
                                            <dt class="govuk-summary-list__key">{% trans "Instance organisation ID" %}</dt>
                                            <dd class="govuk-summary-list__value">
                                                <code>{{ card.application_directory.application_data.application_instance_org_id }}</code>
                                            </dd>
                                        </div>
                                    {% endif %}
                                {% endwith %}
                                {% if perms.main.view_revocation %}
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">{% trans "Revoked application" %}</dt>
                                        <dd class="govuk-summary-list__value">
                                            {% with rev=card.application_directory.application_data.revoked_status %}
                                                {% if rev %}
                                                    <strong class="govuk-tag govuk-tag--green">{% trans "Yes" %}</strong> - {{ rev }}
                                                {% else %}
                                                    <strong class="govuk-tag govuk-tag--red">{% trans "No" %}</strong>
                                                {% endif %}
                                            {% endwith %}
                                        </dd>
                                    </div>
                                {% endif %}
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">{% trans "Version" %}</dt>
                                    <dd class="govuk-summary-list__value">
                                        <code>{{ card.application_directory.application_data.app_version }}</code>
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">{% trans "Valid from" %}</dt>
                                    <dd class="govuk-summary-list__value">
                                        {{ card.application_directory.application_data.valid_from.as_datetime|date:"F d, Y" }}
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">{% trans "Valid until" %}</dt>
                                    <dd class="govuk-summary-list__value">
                                        {{ card.application_directory.application_data.valid_to.as_datetime|date:"F d, Y" }}
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">{% trans "Status" %}</dt>
                                    <dd class="govuk-summary-list__value">
                                        <code>{{ card.application_directory.application_data.app_status }}</code>
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">{% trans "Synchronization number" %}</dt>
                                    <dd class="govuk-summary-list__value">
                                        {{ card.application_directory.application_data.app_synchronization_number }}
                                    </dd>
                                </div>
                            </dl>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">{% trans "Application Logbook" %}</dt>
                        <dd class="govuk-summary-list__value">
                            <dl class="govuk-summary-list">
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">{% trans "Data File Pointer" %}</dt>
                                    <dd class="govuk-summary-list__value">
                                        <code>{{ card.application_directory.application_logbook.data_pointer }}</code>
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">{% trans "Sequence" %}</dt>
                                    <dd class="govuk-summary-list__value">
                                        {{ card.application_directory.application_logbook.sequence_number }}
                                    </dd>
                                </div>
                            </dl>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">{% trans "Customer data" %}</dt>
                        <dd class="govuk-summary-list__value">
                            <dl class="govuk-summary-list">
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">{% trans "Data File Pointer" %}</dt>
                                    <dd class="govuk-summary-list__value">
                                        <code>{{ card.application_directory.customer_data.data_pointer }}</code>
                                    </dd>
                                </div>
                            </dl>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">{% trans "Last transaction" %}</dt>
                        <dd class="govuk-summary-list__value">
                            <dl class="govuk-summary-list">
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">{% trans "Data File Pointer" %}</dt>
                                    <dd class="govuk-summary-list__value">
                                        <code>{{ card.application_directory.last_transaction.data_pointer }}</code>
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">{% trans "Transaction type" %}</dt>
                                    <dd class="govuk-summary-list__value">
                                        <code>{{ card.application_directory.last_transaction.transaction_type }}</code>
                                    </dd>
                                </div>
                            </dl>
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">{% trans "Authorizations" %}</dt>
                        <dd class="govuk-summary-list__value">
                            {% if card.application_directory.authorizations %}
                                {% for auth in card.application_directory.authorizations %}
                                    <div class="govuk-summary-card">
                                        <div class="govuk-summary-card__title-wrapper">
                                            <h2 class="govuk-summary-card__title">
                                                {% trans "Authorization" %} #{{ forloop.counter }}
                                            </h2>
                                        </div>
                                        <div class="govuk-summary-card__content">
                                            <dl class="govuk-summary-list">
                                                <div class="govuk-summary-list__row">
                                                    <dt class="govuk-summary-list__key">{% trans "Data File Pointer" %}</dt>
                                                    <dd class="govuk-summary-list__value">
                                                        {{ auth.data_pointer }}
                                                    </dd>
                                                </div>
                                                <div class="govuk-summary-list__row">
                                                    <dt class="govuk-summary-list__key">{% trans "ID" %}</dt>
                                                    <dd class="govuk-summary-list__value">
                                                        <code>{{ auth.authorization_id }}</code>
                                                    </dd>
                                                </div>
                                                {% with org_name=auth.authorization_org_name_opt %}
                                                    {% if org_name %}
                                                        <div class="govuk-summary-list__row">
                                                            <dt class="govuk-summary-list__key">{% trans "Organisation" %}</dt>
                                                            <dd class="govuk-summary-list__value">
                                                                {{ org_name }}
                                                                (<code>{{ auth.authorization_org_id }}</code>)
                                                            </dd>
                                                        </div>
                                                    {% else %}
                                                        <div class="govuk-summary-list__row">
                                                            <dt class="govuk-summary-list__key">{% trans "Organisation ID" %}</dt>
                                                            <dd class="govuk-summary-list__value">
                                                                <code>{{ auth.authorization_org_id }}</code>
                                                            </dd>
                                                        </div>
                                                    {% endif %}
                                                {% endwith %}
                                                {% if perms.main.view_revocation %}
                                                    <div class="govuk-summary-list__row">
                                                        <dt class="govuk-summary-list__key">{% trans "Revoked ticket" %}</dt>
                                                        <dd class="govuk-summary-list__value">
                                                            {% with rev=auth.revoked_status %}
                                                                {% if rev %}
                                                                    <strong class="govuk-tag govuk-tag--green">{% trans "Yes" %}</strong> - {{ rev }}
                                                                {% else %}
                                                                    <strong class="govuk-tag govuk-tag--red">{% trans "No" %}</strong>
                                                                {% endif %}
                                                            {% endwith %}
                                                        </dd>
                                                    </div>
                                                {% endif %}
                                                <div class="govuk-summary-list__row">
                                                    <dt class="govuk-summary-list__key">{% trans "Product" %}</dt>
                                                    <dd class="govuk-summary-list__value">
                                                        <dl class="govuk-summary-list">
                                                            {% with product_name=auth.product_name_opt %}
                                                                {% if product_name %}
                                                                    <div class="govuk-summary-list__row">
                                                                        <dt class="govuk-summary-list__key">{% trans "Name" %}</dt>
                                                                        <dd class="govuk-summary-list__value">
                                                                            {{ product_name }}
                                                                            (<code>{{ auth.product_id }}</code>)
                                                                        </dd>
                                                                    </div>
                                                                {% else %}
                                                                    <div class="govuk-summary-list__row">
                                                                        <dt class="govuk-summary-list__key">{% trans "Number" %}</dt>
                                                                        <dd class="govuk-summary-list__value">
                                                                            <code>{{ auth.product_id }}</code>
                                                                        </dd>
                                                                    </div>
                                                                {% endif %}
                                                            {% endwith %}
                                                            {% with org_name=auth.product_org_name_opt %}
                                                                {% if org_name %}
                                                                    <div class="govuk-summary-list__row">
                                                                        <dt class="govuk-summary-list__key">
                                                                            {% trans "Organisation" %}
                                                                        </dt>
                                                                        <dd class="govuk-summary-list__value">
                                                                            {{ org_name }}
                                                                            (<code>{{ auth.product_org_id }}</code>)
                                                                        </dd>
                                                                    </div>
                                                                {% else %}
                                                                    <div class="govuk-summary-list__row">
                                                                        <dt class="govuk-summary-list__key">
                                                                            {% trans "Organisation ID" %}
                                                                        </dt>
                                                                        <dd class="govuk-summary-list__value">
                                                                            <code>{{ auth.product_org_id }}</code>
                                                                        </dd>
                                                                    </div>
                                                                {% endif %}
                                                            {% endwith %}
                                                        </dl>
                                                    </dd>
                                                </div>
                                                {% if auth.valid_from %}
                                                    <div class="govuk-summary-list__row">
                                                        <dt class="govuk-summary-list__key">{% trans "Valid from" %}</dt>
                                                        <dd class="govuk-summary-list__value">
                                                            {{ auth.valid_from.as_datetime|date:"F d, Y H:i:s e" }}
                                                        </dd>
                                                    </div>
                                                {% endif %}
                                                {% if auth.valid_to %}
                                                    <div class="govuk-summary-list__row">
                                                        <dt class="govuk-summary-list__key">{% trans "Valid until" %}</dt>
                                                        <dd class="govuk-summary-list__value">
                                                            {{ auth.valid_to.as_datetime|date:"F d, Y H:i:s e" }}
                                                        </dd>
                                                    </div>
                                                {% endif %}
                                                <div class="govuk-summary-list__row">
                                                    <dt class="govuk-summary-list__key">{% trans "Status" %}</dt>
                                                    <dd class="govuk-summary-list__value">
                                                        {{ auth.status }}
                                                    </dd>
                                                </div>
                                                <div class="govuk-summary-list__row">
                                                    <dt class="govuk-summary-list__key">{% trans "Synchronization number" %}</dt>
                                                    <dd class="govuk-summary-list__value">
                                                        {{ auth.synchronization_number }}
                                                    </dd>
                                                </div>
                                            </dl>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                {% trans "No authorizations" %}
                            {% endif %}
                        </dd>
                    </div>
                </dl>

                <h3 class="govuk-heading-m">{% trans "Application Data" %}</h3>
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">{% trans "PV Key Version" %}</dt>
                        <dd class="govuk-summary-list__value">
                            {{ card.application_data.pv_key_version }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">{% trans "KVP Key Version" %}</dt>
                        <dd class="govuk-summary-list__value">
                            {{ card.application_data.kvp_key_version }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">{% trans "Auth Key Version" %}</dt>
                        <dd class="govuk-summary-list__value">
                            {{ card.application_data.auth_key_version }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">{% trans "Issuing transaction SAM sequence" %}</dt>
                        <dd class="govuk-summary-list__value">
                            {{ card.application_data.issuing_transaction_sam_sequence_number }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">{% trans "Issuing transaction SAM ID" %}</dt>
                        <dd class="govuk-summary-list__value">
                            {{ card.application_data.issuing_transaction_sam_id }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">{% trans "Issuance" %}</dt>
                        <dd class="govuk-summary-list__value">
                            {% include "main/vdv_log_entry.html" with log=card.application_data.issuance %}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">{% trans "Info text" %}</dt>
                        <dd class="govuk-summary-list__value">
                            {{ smartcard.application_info_text }}
                        </dd>
                    </div>
                </dl>

                <h3 class="govuk-heading-m">{% trans "Customer data" %}</h3>
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">{% trans "Info text" %}</dt>
                        <dd class="govuk-summary-list__value">
                            {{ smartcard.customer_info_text }}
                        </dd>
                    </div>
                </dl>

                <h2 class="govuk-heading-m">{% trans "Logbook" %}</h2>
                {% for log in smartcard.logs.all %}
                    {% with log=log.as_log %}
                        {% include "main/vdv_log_entry.html" %}
                    {% endwith %}
                {% endfor %}

                <h2 class="govuk-heading-m">{% trans "Key Register" %}</h2>
                {% for key in card.key_register.keys %}
                    <div class="govuk-summary-card">
                        <div class="govuk-summary-card__title-wrapper">
                            <h2 class="govuk-summary-card__title">
                                {% trans "Key" %} #{{ forloop.counter }}
                            </h2>
                        </div>
                        <div class="govuk-summary-card__content">
                            <dl class="govuk-summary-list">
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">{% trans "Key ID" %}</dt>
                                    <dd class="govuk-summary-list__value">
                                        {{ key.key_id_hex }}
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">{% trans "Key Version" %}</dt>
                                    <dd class="govuk-summary-list__value">
                                        {{ key.key_version }}
                                    </dd>
                                </div>
                                {% with org_name=key.org_name_opt %}
                                    {% if org_name %}
                                        <div class="govuk-summary-list__row">
                                            <dt class="govuk-summary-list__key">{% trans "Organisation" %}</dt>
                                            <dd class="govuk-summary-list__value">
                                                {{ org_name }} (<code>{{ key.org_id }}</code>)
                                            </dd>
                                        </div>
                                    {% else %}
                                        <div class="govuk-summary-list__row">
                                            <dt class="govuk-summary-list__key">{% trans "Organisation ID" %}</dt>
                                            <dd class="govuk-summary-list__value">
                                                <code>{{ key.org_id }}</code>
                                            </dd>
                                        </div>
                                    {% endif %}
                                {% endwith %}
                            </dl>
                        </div>
                    </div>
                {% endfor %}

                <h2 class="govuk-heading-m">{% trans "Certificate chain" %}</h2>
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">{% trans "Root CA verification" %}</dt>
                        <dd class="govuk-summary-list__value">
                            {% if card.verify_root_ca %}
                            <strong class="govuk-tag govuk-tag--green">{% trans "Valid" %}</strong>
                            {% else %}
                                <div class="govuk-warning-text">
                                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                                    <strong class="govuk-warning-text__text">
                                        {% trans "Signature verification failed, something has gone very wrong" %}
                                    </strong>
                                </div>
                            {% endif %}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">{% trans "Issuing CA verification" %}</dt>
                        <dd class="govuk-summary-list__value">
                            {% if card.verify_ca_cert %}
                            <strong class="govuk-tag govuk-tag--green">{% trans "Valid" %}</strong>
                            {% else %}
                                <div class="govuk-warning-text">
                                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                                    <strong class="govuk-warning-text__text">
                                        {% trans "Signature verification failed, this card is likely invalid" %}
                                    </strong>
                                </div>
                            {% endif %}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">{% trans "Card certificate verification" %}</dt>
                        <dd class="govuk-summary-list__value">
                            {% if card.verify_application_cert %}
                            <strong class="govuk-tag govuk-tag--green">{% trans "Valid" %}</strong>
                            {% else %}
                                <div class="govuk-warning-text">
                                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                                    <strong class="govuk-warning-text__text">
                                        {% trans "Signature verification failed, this card is likely invalid" %}
                                    </strong>
                                </div>
                            {% endif %}
                        </dd>
                    </div>
                </dl>
                <div class="govuk-summary-card">
                    <div class="govuk-summary-card__title-wrapper">
                        <h2 class="govuk-summary-card__title">{% trans "Root CA" %}</h2>
                    </div>
                    <div class="govuk-summary-card__content">
                        {% include "main/certificate.html" with cert=card.root_ca_data %}
                    </div>
                </div>
                <div class="govuk-summary-card">
                    <div class="govuk-summary-card__title-wrapper">
                        <h2 class="govuk-summary-card__title">{% trans "Issuing CA" %}</h2>
                    </div>
                    <div class="govuk-summary-card__content">
                        {% include "main/certificate.html" with cert=card.ca_cert_data %}
                    </div>
                </div>
                <div class="govuk-summary-card">
                    <div class="govuk-summary-card__title-wrapper">
                        <h2 class="govuk-summary-card__title">{% trans "Card Certificate" %}</h2>
                    </div>
                    <div class="govuk-summary-card__content">
                        {% include "main/certificate.html" with cert=card.application_cert_data %}
                    </div>
                </div>
            {% endwith %}
        </div>
    {% endlocaltime %}
{% endblock content %}
